body {
    background-color: #FDFFFC;
}

nav {
    width:220px;
}

.cardlist {
    margin-top: 50;
}

.spacing {
    margin-left: 7%;
}

.sidebar {
  position: relative;
}

.sidebar-items {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    /*padding: 2rem 3rem 0rem;
    margin-bottom: 2rem;*/
}

@media (min-width: 550px) { /*Skeletons default grid-activation width*/
  .sidebar {
    position: fixed;
    background-color: #011627;
    color: #F8F9F7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin-right: 30px;
    top: 20%;
    bottom: 0px;
    height: 50%;
    left: 40px;
    width: 15.625em;
  }
}
